<ion-content class="login-content">
  <div class="fullheight xc">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h2 class="auth-title ion-text-center">
            Bienvenido!
            <br/>
            a BankApp
          </h2>
          <form [formGroup]="loginForm" (ngSubmit)="doLogin( loginForm.value )">
            <ion-list class="inputs-list" lines="full">
              <ion-item class="input-item">
                <ion-input type="email" placeholder="Correo electrónico" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.email">
                  <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
      
              <ion-item class="input-item">
                <app-show-hide-password>
                  <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
                </app-show-hide-password>
              </ion-item>
              <div class="error-container">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>
                    <span>{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
            </ion-list>
      
            <ion-button class="login-btn" type="submit" expand="block" [disabled]="!loginForm.valid">Iniciar sesión</ion-button>
            <ion-row class="other-auth-options-row">
              <ion-button class="forgot-btn" fill="clear" [routerLink]="['/page-not-found']">
                ¿Olvidaste tú contraseña?
              </ion-button>
              <ion-button class="signup-btn" fill="clear" [routerLink]="['/signup']">
                ¡Registrarme!
              </ion-button>
            </ion-row>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
