<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <h2 class="auth-title">
    ¡Estás a un paso de ser parte de bankApp!
  </h2>
  <form [formGroup]="signupForm" (ngSubmit)="doSignup( signupForm.value )">
    <ion-list class="inputs-list" lines="full">
      
      <ion-list-header>
        <ion-label class="header-title">Información básica</ion-label>
      </ion-list-header>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Cedula" formControlName="cedula" clearInput autocapitalize="off" inputmode="cedula"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.cedula">
          <div class="error-message" *ngIf="signupForm.get('cedula').hasError(validation.type) && (signupForm.get('cedula').dirty || signupForm.get('cedula').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Nombres" formControlName="nombres" clearInput autocapitalize="off" inputmode="nombres"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.nombres">
          <div class="error-message" *ngIf="signupForm.get('nombres').hasError(validation.type) && (signupForm.get('nombres').dirty || signupForm.get('nombres').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Apellidos" formControlName="apellidos" clearInput autocapitalize="off" inputmode="apellidos"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.apellidos">
          <div class="error-message" *ngIf="signupForm.get('apellidos').hasError(validation.type) && (signupForm.get('apellidos').dirty || signupForm.get('apellidos').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-list class="inputs-list" lines="full">

      <ion-list-header>
        <ion-label class="header-title">Información de la cuenta</ion-label>
      </ion-list-header>
      
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Correo electrónico" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="signupForm.get('email').hasError(validation.type) && (signupForm.get('email').dirty || signupForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('password').hasError(validation.type) && (signupForm.get('matching_passwords').get('password').dirty || signupForm.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <app-show-hide-password>
            <ion-input type="password" placeholder="Confirmar contraseña" formControlName="confirm_password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="signupForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="signupForm.get('matching_passwords').hasError(validation.type) && (signupForm.get('matching_passwords').get('confirm_password').dirty || signupForm.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Elige un avatar</ion-label>
      </ion-list-header>
      <ion-row>
        <ion-col>
          <ion-slides [options]="avatarSlide">
            <ion-slide *ngFor="let avatar of avatars">
              <ion-img class="pick-avatar" src="/assets/sample-images/avatars/{{ avatar.img }}"
                [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }" (click)="seleccionarAvatar( avatar )">
              </ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-button class="signup-btn" type="submit" expand="block" [disabled]="!signupForm.valid">Registrarme</ion-button>
    <ion-row class="other-auth-options-row">
      <ion-button class="login-btn" fill="clear" [routerLink]="['/login']">
        ¿Ya tienes una cuenta?
      </ion-button>
    </ion-row>
  </form>
</ion-content>
