<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Transacciones</ion-title>
  </ion-toolbar>
  <ion-toolbar color="another-color">
    <!-- Default Segment -->
    <ion-segment [(ngModel)]="segmentModel" (ionChange)="segmentChanged($event)" color="inc_primary">

      <ion-segment-button value="simple">
        <ion-label color="tertiary">Simple</ion-label>
      </ion-segment-button>

      <ion-segment-button color="tertiary" value="codigo">
        <ion-label color="tertiary">Código QR</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="auth-title">
    ¡Transacciones a cuenta preinscritas!
  </h2>
  <ng-container *ngIf="segmentModel === 'simple'; else codigoQR">
    <form [formGroup]="simpleForm" (ngSubmit)="enviarTransaccion( simpleForm.value )">
      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label>Cuenta origen</ion-label>
          <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="cuenta_origen" (ionChange)="cuentaDestino($event);">
            <ion-select-option [value]="''">Seleccione</ion-select-option>
            <ion-select-option *ngFor="let cuenta of cuentas_origen" [value]="cuenta.idCuentasBancarias">{{ cuenta.alias }} - {{ cuenta.numero }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.cuenta_origen">
            <div class="error-message" *ngIf="simpleForm.get('cuenta_origen').hasError(validation.type) && (simpleForm.get('cuenta_origen').dirty || simpleForm.get('cuenta_origen').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label>Cuenta destino</ion-label>
          <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="cuenta_destino">
            <ion-select-option [value]="''">Seleccione</ion-select-option>
            <ion-select-option *ngFor="let cuenta of cuentas_destino" [value]="cuenta.idCuentasBancarias">{{ cuenta.alias }} - {{ cuenta.numero }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.cuenta_destino">
            <div class="error-message" *ngIf="simpleForm.get('cuenta_destino').hasError(validation.type) && (simpleForm.get('cuenta_destino').dirty || simpleForm.get('cuenta_destino').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-input type="text" placeholder="Monto a transferir" formControlName="monto" clearInput autocapitalize="off" inputmode="monto"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.monto">
            <div class="error-message" *ngIf="simpleForm.get('monto').hasError(validation.type) && (simpleForm.get('monto').dirty || simpleForm.get('monto').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

      </ion-list>
      <ion-button class="send-data" type="submit" expand="block" [disabled]="!simpleForm.valid">Enviar</ion-button>
    </form>
  </ng-container>
  <ng-template #codigoQR>
    <ion-row>
      <ion-button class="send-data" color="dark" (click)="scanCode()">
        <ion-icon name="qr-code-outline"></ion-icon>
        Código QR
      </ion-button>
    </ion-row>
    <form [formGroup]="codeForm" (ngSubmit)="enviarTransaccionQR( codeForm.getRawValue() )">
      <ion-list class="inputs-list" lines="full">
        <ion-item class="input-item">
          <ion-label>Cuenta origen</ion-label>
          <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="cuenta_origen" (ionChange)="cuentaDestino($event);">
            <ion-select-option [value]="''">Seleccione</ion-select-option>
            <ion-select-option *ngFor="let cuenta of cuentas_origen" [value]="cuenta.idCuentasBancarias">{{ cuenta.alias }} - {{ cuenta.numero }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.cuenta_origen">
            <div class="error-message" *ngIf="codeForm.get('cuenta_origen').hasError(validation.type) && (codeForm.get('cuenta_origen').dirty || codeForm.get('cuenta_origen').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label>Cuenta destino</ion-label>
          <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="cuenta_destino">
            <ion-select-option [value]="''">Seleccione</ion-select-option>
            <ion-select-option *ngFor="let cuenta of cuentas_destino" [value]="cuenta.idCuentasBancarias">{{ cuenta.alias }} - {{ cuenta.numero }}</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.cuenta_destino">
            <div class="error-message" *ngIf="codeForm.get('cuenta_destino').hasError(validation.type) && (codeForm.get('cuenta_destino').dirty || codeForm.get('cuenta_destino').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-input type="text" placeholder="Monto a transferir" formControlName="monto" clearInput autocapitalize="off" inputmode="monto"></ion-input>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validation_messages.monto">
            <div class="error-message" *ngIf="codeForm.get('monto').hasError(validation.type) && (codeForm.get('monto').dirty || codeForm.get('monto').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

      </ion-list>
      <ion-button class="send-data" type="submit" expand="block" [disabled]="!codeForm.valid">Enviar</ion-button>
    </form>
  </ng-template>
</ion-content>
