<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="fullscreen">

  <ion-card *ngIf="cuenta" class="ion-text-center">
    <ngx-qrcode
      [elementType] = "elementType"
      [value] = "cuenta.numero">
    </ngx-qrcode>
    <ion-card-content>
      <ion-button expand="full" color="dark" (click)="downloadQR()" *ngIf="elementType === 'canvas'">
        <ion-icon name="download" slot="start"></ion-icon>
        Descargar
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>