@import "mixins/ion-color";

// Add custom colors to use with [color] property
// (see: https://forum.ionicframework.com/t/adding-custom-colours-to-use-with-color-property/136919)
// GLOBAL COLORS:
//    You can define new Ionic colors here (inside :root{ ... }) to be available within the entire app
// LOCAL COLORS:
//    You can also define new Ionic colors in each page (inside :host{ ... }) to be available just in that page
//    (We have an example of local custom Ionic colors in the deals pages)
:root {
  @include ion-color('another-color'){
    --ion-color-another-color: #ff9800;
    --ion-color-another-color-rgb: 255,152,0;
    --ion-color-another-color-contrast: #000000;
    --ion-color-another-color-contrast-rgb: 0,0,0;
    --ion-color-another-color-shade: #e08600;
    --ion-color-another-color-tint: #ffa21a;
  }
  @include ion-color('one-more'){
    --ion-color-one-more: #5260ff;
    --ion-color-one-more-rgb: 82,96,255;
    --ion-color-one-more-contrast: #ffffff;
    --ion-color-one-more-contrast-rgb: 255,255,255;
    --ion-color-one-more-shade: #4854e0;
    --ion-color-one-more-tint: #6370ff;
  }
}
