<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="signup-content">
  <h2 class="auth-title">
    ¡Modificación de datos básicos!
  </h2>
  <form [formGroup]="perfilForm" (ngSubmit)="onSubmit( perfilForm.value )">
    <ion-list class="inputs-list" lines="full">
      
      <ion-list-header>
        <ion-label class="header-title">Información básica</ion-label>
      </ion-list-header>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Cedula" formControlName="cedula" clearInput autocapitalize="off" inputmode="cedula"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.cedula">
          <div class="error-message" *ngIf="perfilForm.get('cedula').hasError(validation.type) && (perfilForm.get('cedula').dirty || perfilForm.get('cedula').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Nombres" formControlName="nombres" clearInput autocapitalize="off" inputmode="nombres"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.nombres">
          <div class="error-message" *ngIf="perfilForm.get('nombres').hasError(validation.type) && (perfilForm.get('nombres').dirty || perfilForm.get('nombres').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Apellidos" formControlName="apellidos" clearInput autocapitalize="off" inputmode="apellidos"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.apellidos">
          <div class="error-message" *ngIf="perfilForm.get('apellidos').hasError(validation.type) && (perfilForm.get('apellidos').dirty || perfilForm.get('apellidos').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Información de la cuenta</ion-label>
      </ion-list-header>
      
      <ion-item class="input-item">
        <ion-input type="email" placeholder="Correo electrónico" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="perfilForm.get('email').hasError(validation.type) && (perfilForm.get('email').dirty || perfilForm.get('email').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>

    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Elige un avatar</ion-label>
      </ion-list-header>
      <ion-row>
        <ion-col>
          <ion-slides [options]="avatarSlide">
            <ion-slide *ngFor="let avatar of avatars">
              <ion-img class="pick-avatar" src="/assets/sample-images/avatars/{{ avatar.img }}"
                [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }" (click)="seleccionarAvatar( avatar )">
              </ion-img>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-list>

    <ion-button class="signup-btn" type="submit" expand="block" [disabled]="!perfilForm.valid">Enviar</ion-button>
  </form>
  <ion-button (click)="showPasswordModal();" class="signup-btn" type="button" expand="block">Cambiar contraseña</ion-button>
</ion-content>
