<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis transacciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fullscreen">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon md="add-outline" ios="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let transaccion of transacciones">
      <ion-avatar slot="start">
        <img src="/assets/sample-images/avatars/av-1.png">
      </ion-avatar>
      <ion-label>
        <p>
          <ion-text color="another-color">
          Cuenta Origen:
          </ion-text>
          {{ transaccion.numero_cuenta_origen }}
        </p>
        <p>
          <ion-text color="another-color">
            Cuenta Destino:
          </ion-text>
          {{ transaccion.numero_cuenta_destino }}
        </p>
        <p><span class="symbol-money">$ </span>{{ transaccion.monto }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>