<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fullscreen">
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="dark" (click)="inscribirCuenta();">
      <ion-icon md="add-outline" ios="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let cuenta of cuentas">
      <ion-avatar slot="start">
        <img src="/assets/sample-images/avatars/av-1.png">
      </ion-avatar>
      <ion-button slot="end" type="button" expand="small" color="secondary" (click)="generateQRCode( cuenta );">
        Generar QR
      </ion-button>
      <ion-label>
        <h3>Alias: {{ cuenta.alias }}</h3>
        <h4>Titular: {{ cuenta.titular }} </h4>
        <p>
          <ion-text color="another-color">
          # de cuenta:
          </ion-text>
          {{ cuenta.numero }}
        </p>
        <p class="tipo_cuenta">{{ cuenta.tipo_cuenta }}</p>
        <p class="propia" *ngIf="!cuenta.propia">Cuenta de terceros</p>
        <p>
          <ion-text color="one-more">
          {{ cuenta.moneda }}
          </ion-text>
        </p>
        <p><span class="symbol-money">$ </span>{{ cuenta.saldo }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>