// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background-shade);
  }
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
  .forms-validations-content {
    --background: var(--page-background);
  
    .validations-form {
      margin-bottom: calc(var(--page-margin) * 2);
  
      .inputs-list {
        --ion-item-background: var(--page-background);
  
        padding: var(--page-margin) var(--page-margin) var(--page-margin);
  
        ion-list-header {
          padding-inline-start: 0px;
  
          .header-title {
            text-transform: uppercase;
            font-size: 16px;
            color: var(--ion-color-fundamerani-primary);
          }
        }
        .input-item {
          --padding-start: 0px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
        }
  
        .terms-item {
          --border-width: 0px;
          --inner-padding-end: 0px;
        }
  
        .error-container {
          .error-message {
            margin: calc(var(--page-margin) / 2) 0px;
            display: flex;
            align-items: center;
            color: var(--ion-color-danger);
            font-size: 14px;
  
            ion-icon {
              padding-inline-end: calc(var(--page-margin) / 2);
              flex-shrink: 0;
            }
          }
        }
      }
  
      .submit-btn {
        margin: var(--page-margin);
      }
    }
  }