// Custom variables
// Note:  These ones were added by us and have nothing to do with Ionic CSS Custom Properties
:host {
    --page-margin: var(--app-broad-margin);
    --page-background: var(--app-background-shade);
}
  
  // Note:  All the CSS variables defined below are overrides of Ionic elements CSS Custom Properties
.cuenta-content {
    --background: var(--page-background);
    --padding-start: var(--page-margin);
    --padding-end: var(--page-margin);
    --padding-top: var(--page-margin);
    --padding-bottom: var(--page-margin);
  
    .auth-title {
      color: var(--ion-color-dark);
      font-weight: bold;
      margin-top: calc(var(--page-margin) / 2);
      margin-bottom: calc(var(--page-margin) * (3/2));
      letter-spacing: 0.6px;
    }

    .inputs-list {
        --ion-item-background: var(--page-background);
    
        ion-list-header {
          padding-inline-start: 0px;
    
          .header-title {
            text-transform: uppercase;
            font-size: 16px;
            color: var(--ion-color-dark);
          }
        }
    
        .input-item {
          --padding-start: 0px;
          --padding-end: 0px;
          --inner-padding-end: 0px;
        }
    
        .error-container {
          .error-message {
            margin: calc(var(--page-margin) / 2) 0px;
            display: flex;
            align-items: center;
            color: var(--ion-color-danger);
            font-size: 14px;
    
            ion-icon {
              padding-inline-end: calc(var(--page-margin) / 2);
            }
          }
        }
    }

    .send-data {
        margin: calc(var(--page-margin) / 2) 0px;
    }
}