<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cuenta-content">
  <h2 class="auth-title">
    ¡Inscribe la cuenta!
  </h2>
  <form [formGroup]="cuentaForm" (ngSubmit)="doAddAccount( cuentaForm.value )">
    <ion-list class="inputs-list" lines="full">

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Alias" formControlName="alias" clearInput autocapitalize="off" inputmode="alias"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.alias">
          <div class="error-message" *ngIf="cuentaForm.get('alias').hasError(validation.type) && (cuentaForm.get('alias').dirty || cuentaForm.get('alias').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Número de cuenta" formControlName="numero" clearInput autocapitalize="off" inputmode="numero"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.numero">
          <div class="error-message" *ngIf="cuentaForm.get('numero').hasError(validation.type) && (cuentaForm.get('numero').dirty || cuentaForm.get('numero').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Titular de la cuenta" formControlName="titular" clearInput autocapitalize="off" inputmode="titular"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.titular">
          <div class="error-message" *ngIf="cuentaForm.get('titular').hasError(validation.type) && (cuentaForm.get('titular').dirty || cuentaForm.get('titular').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label>Moneda</ion-label>
        <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="moneda">
          <ion-select-option [value]="''">Seleccione</ion-select-option>
          <ion-select-option value="COP">Peso colombiano</ion-select-option>
          <ion-select-option value="USD">Dolar EEUU</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.moneda">
          <div class="error-message" *ngIf="cuentaForm.get('moneda').hasError(validation.type) && (cuentaForm.get('moneda').dirty || cuentaForm.get('moneda').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-input type="text" placeholder="Ingrese el monto" formControlName="saldo" clearInput autocapitalize="off" inputmode="saldo"></ion-input>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.saldo">
          <div class="error-message" *ngIf="cuentaForm.get('saldo').hasError(validation.type) && (cuentaForm.get('saldo').dirty || cuentaForm.get('saldo').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label>Tipo de cuenta</ion-label>
        <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="tipo_cuenta">
          <ion-select-option [value]="''">Seleccione</ion-select-option>
          <ion-select-option *ngFor="let tipo of tipos_cuentas" [value]="tipo.idTiposCuentas">{{ tipo.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.tipo_cuenta">
          <div class="error-message" *ngIf="cuentaForm.get('tipo_cuenta').hasError(validation.type) && (cuentaForm.get('tipo_cuenta').dirty || cuentaForm.get('tipo_cuenta').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>

      <ion-item class="input-item">
        <ion-label>Entidad bancaria</ion-label>
        <ion-select ok-text="Ok" cancel-text="Cancelar" formControlName="entidad_bancaria">
          <ion-select-option [value]="''">Seleccione</ion-select-option>
          <ion-select-option *ngFor="let entidad of entidades_bancarias" [value]="entidad.idEntidadBancaria">{{ entidad.nombre }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="error-container">
        <ng-container *ngFor="let validation of validation_messages.entidad_bancaria">
          <div class="error-message" *ngIf="cuentaForm.get('entidad_bancaria').hasError(validation.type) && (cuentaForm.get('entidad_bancaria').dirty || cuentaForm.get('entidad_bancaria').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-button class="send-data" type="submit" expand="block" [disabled]="!cuentaForm.valid">Inscribir cuenta</ion-button>
  </form>
</ion-content>