<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="forms-validations-content">
  <form class="validations-form" [formGroup]="validationsForm" (ngSubmit)="onSubmit(validationsForm.value)">
    <ion-list class="inputs-list" lines="full">
      <ion-list-header>
        <ion-label class="header-title">Modificar contraseña</ion-label>
      </ion-list-header>

      <div formGroupName="matching_passwords">
        <ion-item class="input-item">
          <ion-label position="floating">Contraseña</ion-label>
          <app-show-hide-password>
            <ion-input type="password" formControlName="password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.password">
            <div class="error-message"
              *ngIf="validationsForm.get('matching_passwords').get('password').hasError(validation.type) && (validationsForm.get('matching_passwords').get('password').dirty || validationsForm.get('matching_passwords').get('password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>

        <ion-item class="input-item">
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <app-show-hide-password>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </app-show-hide-password>
        </ion-item>
        <div class="error-container">
          <ng-container *ngFor="let validation of validations.confirm_password">
            <div class="error-message"
              *ngIf="validationsForm.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validationsForm.get('matching_passwords').get('confirm_password').dirty || validationsForm.get('matching_passwords').get('confirm_password').touched)">
              <ion-icon name="information-circle-outline"></ion-icon>
              <span>{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="error-container">
        <ng-container *ngFor="let validation of validations.matching_passwords">
          <div class="error-message"
            *ngIf="validationsForm.get('matching_passwords').hasError(validation.type) && (validationsForm.get('matching_passwords').get('confirm_password').dirty || validationsForm.get('matching_passwords').get('confirm_password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button type="submit" color="dark" expand="block" [disabled]="!validationsForm.valid">
            Modificar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>