<ion-app dir="{{textDir}}">
  <!-- when=false means that the split pane will never expand automatically -->
  <!-- For more info check https://ionicframework.com/docs/api/split-pane -->
  <ion-split-pane content-id="menu-content" when="false">
    <ion-menu content-id="menu-content" class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="4">
              <app-aspect-ratio [ratio]="{w: 1, h: 1}" *ngIf="!auth.currentUserValue">
                <app-image-shell class="user-avatar" animation="spinner" [src]="'./assets/sample-images/ionicthemes_logo.jpg'"></app-image-shell>
              </app-aspect-ratio>
              <app-aspect-ratio [ratio]="{w: 1, h: 1}" *ngIf="auth.currentUserValue">
                <app-image-shell class="user-avatar" animation="spinner" src="/assets/sample-images/avatars/{{ auth.currentUserValue.avatar }}"></app-image-shell>
              </app-aspect-ratio>
            </ion-col>
            <ion-col class="user-info-wrapper" size="8">
              <h3 class="user-name">{{ auth.currentUserValue ? auth.currentUserValue.name : 'Ionic' }} {{ auth.currentUserValue ? auth.currentUserValue.surname : 'Themes' }}</h3>
              <h5 class="user-handle">@bankApp</h5>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>
            <ion-label>Perfil</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of perfil; let i = index">
            <ion-item (click)="openPage( p.url )">
              <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Cuentas</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of accounts; let i = index">
            <ion-item (click)="openPage( p.url )">
              <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Transacciones</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false" *ngFor="let p of transacciones; let i = index">
            <ion-item (click)="openPage( p.url )">
              <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Cerrar sesión</ion-label>
          </ion-list-header>
          <ion-menu-toggle autoHide="false">
            <ion-item (click)="logout();">
              <ion-icon slot="start" name="power-outline"></ion-icon>
              <ion-label>
                Salir
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Main app content get's rendered in this router-outlet -->
    <ion-router-outlet id="menu-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>